:root {
    --white: #ffffff;
    --light-grey: #edf0f1;
    --violet: #885be1;
    --dark-violet: #8446e1;
    --black: #21232a;
}

:root {
    --page-height: 100vh;
    --page-width: 100vw;
    --page-margin: 0;
    --page-padding: 0;
    --page-text-color: #8e9196;
    --page-text-color-hover: rgba(255, 255, 255, 1);
    --page-background-color: rgb(126, 65, 255);
    --tab-display: grid;
    --tab-background-color: rgba(255, 255, 255, 0.03);
    --display-none: none;
    --box-sizing: border-box;
}
p {
    padding: 0 1em;
}
p span {
    color: var(--page-text-color-hover);
}

tab-container {
    display: var(--tab-display);
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    border: solid rgb(126, 65, 255);
    border-radius: 2vh 0 0 2vh;
}
/*
TAB CONTROLS
Hide radios */
input {
    display: none;
}
input:checked + label {
    color: var(--page-text-color-hover);
    background-color: rgba(255, 255, 255, 0);
    transition: all 250ms;
}
label {
    cursor: pointer;
    transition: color 250ms;
    padding: 1em;
    border-right: solid 2px var(--page-background-color);
    background-color: var(--tab-background-color);
    text-align: center;
    transition: all 250ms;
}
label:last-of-type {
    border: none;
}
label:hover {
    color: var(--page-text-color-hover);
    background-color: rgba(255, 255, 255, 0.05);
}

tab-content {
    display: var(--tab-display);
    grid-column: 1 / -1;
}

input#tabToggle01:checked ~ tab-content:not(:nth-of-type(1)),
input#tabToggle02:checked ~ tab-content:not(:nth-of-type(2)),
input#tabToggle03:checked ~ tab-content:not(:nth-of-type(3)),
input#tabToggle04:checked ~ tab-content:not(:nth-of-type(4)) {
    display: none;
}

.text-padding {
    padding: 20px;
}

tab-container {
    min-width: 100%;
}
