{% extends "base.html" %}

{% block content %}
    <div class="bonemeal">
        <div class="row">
            <div class="col-md-6" id="hoverSound">
                <div class="navbar2">
                    <ul id="clickSound" class="menu">
                        <li><a href="/resize" class="Resize">Resize</a></li>
                        <li><a href="/split_ctm" class="Split">Split CTM</a></li>
                        <li><a href="#" class="Move">Soon</a></li>
                        <li><a href="#" class="Tile">Soon</a></li>
                        <li><a href="#" class="Merge">Soon</a></li>
                        <li><a href="#" class="placeholder">Soon</a></li>
                        <li><a href="#" class="placeholder">Docs</a></li>
                        <li><a href="#" class="placeholder">Discord</a></li>
                        <li><a href="#" class="placeholder">SummitMC</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>
        <h1 class="title-center">BONEMEAL</h1>
        <h3 class="sub-title-center">Speed Up Your Workflow</h3>
    </div>
{% endblock %}